/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    background-image: url(../imgs/wall.png);
    font-family: 'Edu TAS Beginner';
    font-weight: 700;
    text-align: center;
    font-size: 60px;
}

/*main*/

main {
    background-image: url(../imgs/cork.png);
    display: flex;
    /*Wrap per mandare a capo le card*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 24px;
    margin: 24px;
    margin-top: 60px;
    /*Ombreggiaura attorno alla card*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*posizione relative per poter definire la posizione della puntina*/
    position: relative;
}

.main-img {
    
    width: 100%;
    height: 300px;
    /* Altezza fissa */
    object-fit: cover;
    /* Ritaglia l'immagine senza distorcerla */
    display: block;
}

.pin-img {
    /*Immagine puntina in posizione absolute per essere centrata*/
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}

figcaption {
    font-family: 'Edu TAS Beginner';
    padding-top: 24px;
}

figcaption div {
    /*Div interno alla figcaption per poter usare un altro font*/
    font-family: 'Sometype Mono';
}

/*overlay*/
.overlay{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.overlay-img{
    max-width: 90%;
    max-height: 90%;
}

.close-btn{
    margin: 24px;
    font-size: 24px;
    padding: 12px 24px;
}

