/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    background-image: url(../imgs/wall.png);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}

/*main*/

main {
    background-image: url(../imgs/cork.png);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: calc((100%/3) - (40px/3));
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.card img {
    width: 100%;
    height: 200px;
    /* Altezza fissa */
    object-fit: cover;
    /* Ritaglia l'immagine senza distorcerla */
    display: block;
}